/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS reset */

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Start */
body {
    font-family: 'Castoro', serif;
    font-size: 24px;
    line-height: 1.5;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.image {
    display: block;
    max-width: 636px;
}

.periods {
    font-size: 20px;
    color: #949494;
    font-style: italic;
}

.footer {
    background-color: #000000;
    text-align: center;
}

.footer-item {
    display: inline-block;
}

.title {
    font-size: 40px;
    color: #ae0000;
    border-bottom: 3px solid currentColor;
}

/* Size */
.title-l {
    font-size: 128px;
    letter-spacing: 0.12em;
}

.text-m {
    font-size: 32px;
}

/* Color */
.bg-gray {
    background-color: #efefef;
}

/* Position */
.mt-160 {
    margin-top: 160px;
}

.mb-160 {
    margin-bottom: 160px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mr-40 {
    margin-right: 40px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

/* .text-right {
    text-align: right;
} */

.w-50 {
    width: 50%;
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

/* Others */
a:hover {
    opacity: 0.8;
}